<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册的页面</title>
</head>
<body>
    <h1>注册</h1>
	<table>
		<tbody>
			<form action="" method="POST">
				{%csrf_token%}
				<tr>
					<td><label for="">用户名:</label></td>
					<td><input name="username" type="text" placeholder="请输入用户名"></td>
				</tr>
				<tr>
					<td><label for="">密码:</label></td>
					<td><input name="password" type="password" placeholder="请输入密码"></td>
				</tr>
                <tr>
					<td><label for="">确认密码:</label></td>
					<td><input name="password_repeat" type="password" placeholder="请确认密码"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value='注册'></td>
				</tr>
                <tr>
					<td></td>
					<td>
						{% autoescape on %}
							{{errors}}
						{% endautoescape %}
					</td>
			</form>
		</tbody>
	</table>
</body>
</html>